
body { 
background-color: #3a5841;
margin: 0;
padding: 0;
text-shadow: 0 2px 5px #243C2B;
 }
 footer{
 font-size:150%;
 color:white;
 background-color: #3a5841;
 position: relative;
 display: flex;
 }

 #copy{
   font-size: 1.5vw;
   text-align: center;
   font-family: 'works-sans', sans-serif;
   position:absolute;
   bottom: 44px;
   left:20%;
   right:20%;
 }
 #link{
   font-size: 1.5vw;
   color: white;
   font-family: 'works-sans', sans-serif;
   position:absolute;
   bottom: 10px;
   left:20%;
   right:20%;
   text-align: center;
 }
 #footer_tree{
   width:100%;
   height:auto;
 }
 #netzero{
   width:150px;
   height:auto;
   margin-top: 10px;
   margin-left: 40px;
   float:left;
   text-decoration: none;
   overflow: hidden;
 }

 #copy{
   font-size: 1.5vw;
   text-align: center;
   font-family: 'works-sans', sans-serif;
   position:absolute;
   bottom: 44px;
   left:20%;
   right:20%;
 }
 #link{
   font-size: 1.5vw;
   color: white;
   font-family: 'works-sans', sans-serif;
   position:absolute;
   bottom: 10px;
   left:20%;
   right:20%;
   text-align: center;
 }
 #footer_tree{
   width:100%;
   height:auto;
 }

 #main_header{
   font-family: sans-serif;
   font-weight: 600;
   background-color: white;
   height:300px;
   box-shadow: 10px 10px 10px 0px;
   color:black;
   padding-top:110px;
   margin-top:200px;
   margin-left: 15%;
   margin-right:15%;
   font-size: 250%;
   text-shadow: none;
 }

 #p2{
   font-family: 'work sans',sans-serif;
   font-weight: 600;
   color:black;
   font-size:25px;
   text-shadow: none;
   margin-left: 10px;
   margin-right: 10px;
 }

 .car {
   text-align: center;
   margin: 0 auto;
   display: grid;
   grid-gap: 8rem;
   background-color: #1d3335;
   Height:450px;
 }

#contactHead{
  margin-top: 30%;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  width:100%;
  height:auto;
  font-size: 10vw;
  color: white;
  background-color: #243C2B;
}
.contactContents{
  margin-top: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  width:100%;
  height:auto;
  font-size: 5vw;
  color: white;
}

.cardsContainer{
  margin-top: 15%;
  text-align: center;
}
.card img{
  width: 100%;
  height: auto;
  box-shadow: 5px -5px 30px #243C2B;
}
.card {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  /*background-color: dodgerblue;*/
  color: white;
  padding: 1rem;
  height: 25rem;
  width: 55%;
  margin:20%
}

.cards {
  align-items: center;
  margin-left:10;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 8rem;
}
.name{
  font-size: 7vw;
  color: white;
  text-align: center;
}
.title{
  font-size: 5vw;
  color: white;
  text-align: center;
}
/* Screen larger than 600px? 2 column */
@media (min-width: 900px) {

  #contactHead{
    margin-top:10%;
  }
  .contactContents{
    margin-top: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    width:100%;
    height:auto;
    font-size: 4vw;
    color: white;
  }
  .cards { grid-template-columns: repeat(2, 1fr); }
  .name{
    margin-top: -0.8vh;
    font-size: 3.7vw;
  }
  .title{
    font-weight: 300;
    margin-top: -2vh;
    font-size: 3vw;
  }
}
@media(min-width: 1240px)
{
  #contactHead{
    font-size: 124px;
  }
  .contactContents{
    font-size: 49.6px;
  }
  .name{
    font-size: 45.88px;
  }
  .title{
    font-size: 37.2px;
  }
  #main_header{
    font-size: 550%;
  }
  #p2{
    font-size:30px;
  }
}

/* Screen larger than 900px? 3 columns */
nav{
  font-family: 'work sans', sans-serif;
  font-weight: 600;
	height: 60px;
	text-align: center;
  margin-bottom: -200px;
}

/*sticky navbar*/
nav{
  background-color:transparent;
	position: fixed;
	top: 0;
	width: 100%;
  float:right;
  z-index: 3;
}

/*list for hamburger menu*/
.navbar ul{
  margin: 0;
  padding:0;
  list-style:none;
  overflow: hidden;
}


/* Links inside the navbar */
.navbar a {
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 16px 26px;
  text-decoration: none;
  float:right;
  display: block;
}

/* The dropdown container */
.dropdown {
  position: relative;
  overflow: hidden;
}
#homeImages
{
  width: 50%;
  height: auto;
  overflow: hidden;
}

.responsive {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 26px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.btn{
  font-size:300%;
  border-radius: 8px;
  background-color: #39698d;
  color:white;
  cursor:pointer;
}
#button_text{
  margin-left: 5%;
  margin-right: 5%;
  text-shadow: 3px 3px #034174;
}

/* Add a red background color to navbar links on hover */
.menu a:hover, .dropdown:hover .dropbtn
.menu-btn:hover {
  background-color: #728e9c;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: inline-block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #728e9c;
}

.dropdown:hover{
  background-color: #728e9c;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* menu */
.navbar .menu{
  clear: both;
  max-height:0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navbar .menu-icon{
  cursor: pointer;
  display:block;
  float: right;
  padding: 20px 20px;
  position:relative;
  user-select:none;
}

.menu .black ul{
  background:black;
}
.menu{
  background:#00000099;
}
.menu{

  align-items: left;
  float:left;
  display:block;
  border-right: 1px;
  transition: 1s;
}
.navbar  .navicon{
  background: #FFF;
  display: block;
  height: 3px;
  position:relative;
  transition: 0.2s ease-out;
  width: 25px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after{
  background:#FFF;
  content:'';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width:100%;
}

.navbar .menu-icon .navicon:before{
  top: 6px;
}

.navbar .menu-icon .navicon:after{
  top:-6px;
}

/* hamburger */

 .menu-btn{
  display:none;
}

.navbar .menu-btn:checked ~ .menu{
  max-height: 100vh;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon{
  background:transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before{
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after{
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after{
  top: 0;
}
.menu ul{
  align-items: left !important;
}
.zoom1{

}

.zoom2{

}
.black{

}
.zoom1{max-width: 100%; overflow: hidden;}
.zoom2{max-width: 100%; overflow: hidden;}
/* 48em = 768px */

@media (min-width: 950px) {
  .menu{
    background:transparent;
  }
  .navbar li {
    float: right;
  }
  #netzero{
    width:200px;
    height:auto;
    margin-top: 10px;
  }
  .navbar li a {
    padding: 16px 20px;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-left: -50%;
  }
  .navbar .menu-icon {
    display: none;
  }
}

@media (min-width: 1000px)
{
  nav{
    margin-bottom: -50px;
  }
  #p2{
    margin-top:120px;
  }
  #factory{
    width:50%;
    height:50%;
  }
  main p{
    font-size:110%;
  }
}
@media(max-width: 1320px)
{
  .zoom1
  {
    visibility: hidden;
    object-fit: cover;
  }
  .zoom2
  {
    visibility: hidden;
    object-fit: cover;
  }
  #factory{
    width:40%;
    height:40%;
  }

}
@media(min-width:1500px)
{
#factory{
  width:35%;
  height:35%;
}
main p{
  font-size:145%;
}
}

@media (min-width: 2100px)
{
  nav{
    margin-bottom: -300px;
  }
  #factory{
    width:30%;
    height:30%;
  }
  main p{
    font-size:165%;
  }
  }
