footer{
  align-items: center;
  text-align: center;
  display: relative;
  font-family: 'works-sans', sans-serif;
}
footer img{
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: -5px;
}
footer ul {
  margin-top: 0;
  font-family: 'works-sans', sans-serif;
  color: white;
  list-style: none;
  font-size: 1.3vw;
  padding-top: 5% !important;
}
footer h3 {
  font-weight: 500;
  color: white;
  text-align: left;
}
footer li{
  color: white;
  text-align: left;
  font-size: 1.1vw;
  margin-top: 2%;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
footer a h3{
  font-weight: 600;
}
footer h3{
  font-size: 1.4vw;
}
.siteMap{
  position: absolute;
  margin-top: -20%;
  z-index: 100;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}
.footerCard{
  display: relative;
  height: 10vw;
  width: 100%;
  background-color: red;
  margin-bottom: 0;
}
.footerLogo{
  float:left;
  height: 5vw;
  margin-top: 2.5vw;
  width: auto;
  margin-left: 1em;
}

#footerText{
  color: white;
  margin-top: 2.5vw;
  float: right;
  line-height: 150%;
  margin-right: 2em;
  font-size: 1.5vw;
}
#footerText a{
  text-decoration: underline;
}
