body{
  background-color: #95c1a2;
}
.floatRight{
  margin-right: 5%
}
.bannerText{
  color: #243B29;
}
footer{
  margin-top: 10%;
font-size:150%;
color:white;
background-color: #95c1a2;
position: relative;
display: flex;
}

#copy{
  font-size: 1.5vw;
  text-align: center;
  font-family: 'works-sans', sans-serif;
  position:absolute;
  bottom: 44px;
  left:20%;
  right:20%;
}
#link{
  font-size: 1.5vw;
  color: white;
  font-family: 'works-sans', sans-serif;
  position:absolute;
  bottom: 10px;
  left:20%;
  right:20%;
  text-align: center;
}
#footer_tree{
  width:100%;
  height:auto;
}

#backtotop {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backtotop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backtotop:hover {
  cursor: pointer;
  background-color: #333;
}
#backtotop:active {
  background-color: #555;
}
#backtotop.show {
  opacity: 1;
  visibility: visible;
}
