.grid {
  align-items: center;
  margin-left:10;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
}
.gridContainer{
  margin-top: 15%;
  text-align: center;
}
.left{  margin-left: 0;}
.right{margin-right: 0;order: 1}

@media (min-width: 1000px) {
    .left{margin-left: -5rem;}
    .right{margin-right: -5rem; order: -1;}
    .grid { grid-template-columns: repeat(2, 1fr); }
}
