*
{
  margin:0;
  padding: 0;

}
body{

}
main{
  background-color: #3a5841;
  padding-top:50%;
  max-width: 100%;
  padding-left: 17%;
  padding-right: 17%;
  background-color: #3a5841;
}
.header{
  color:white;
  font-family: 'works-sans', sans-serif;
  font-size: 50px;
}
.menu{
  background:#00000099;
}
#home-background img{
  width: 50%;
  max-width: 50%;
  height:auto;
}


footer{
font-size:150%;
color:white;
background-color: #3a5841;
position: relative;
display: flex;
}

#copy{
  font-size: 1.5vw;
  text-align: center;
  font-family: 'works-sans', sans-serif;
  position:absolute;
  bottom: 44px;
  left:20%;
  right:20%;
}
#link{
  font-size: 1.5vw;
  color: white;
  font-family: 'works-sans', sans-serif;
  position:absolute;
  bottom: 10px;
  left:20%;
  right:20%;
  text-align: center;
}
#footer_tree{
  width:100%;
  height:auto;
}

main p{
font-family: 'Work Sans',sans-serif;
font-weight: 600;
color:white;
font-style: normal;
font-size: 205;
-webkit-border-radius: 8px;
-moz-border-radius:8px;
border-radius: 8px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 20px;
padding-right: 20px;
}

.pp{
font-family: 'Work Sans',sans-serif;
font-weight: 600;
color:white;
font-style: normal;
font-size: 22px;
-webkit-border-radius: 8px;
-moz-border-radius:8px;
border-radius: 8px;
text-align: left;
}


.p{
font-family: 'Work Sans',sans-serif;
font-weight: 600;
color:white;
font-style: normal;
font-size: 22px;
-webkit-border-radius: 8px;
-moz-border-radius:8px;
border-radius: 8px;
text-align: center;
margin-left: 45px;
}

.bp{
  font-family: 'Work Sans',sans-serif;
  font-weight: 600;
  color:black;
  font-style: normal;
  font-size: 22px;
  -webkit-border-radius: 8px;
  -moz-border-radius:8px;
  border-radius: 8px;
  text-align: center;
  margin-left: 45px;
}


footer{
  width:100%;
}

/*text wrapping images*/


.btn{
  color:green;
  border-radius: 6px;
  margin-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

.btn2{
  color:black;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 17px;
  margin-left: 405px;
}

.btn:hover, .btn2:hover{
  cursor: pointer;
}

#button_text2{
  font-size: 18px;
}

.zoom1{

}

.zoom2{

}
.black{

}
.zoom1{max-width: 100%; overflow: hidden;}
.zoom2{max-width: 100%; overflow: hidden;}
