*
{
  margin:0;
  padding: 0;

}
#container{
  text-align: center;
  align-items: center;
}
main{
  background-color: #3a5841;
  padding-top:50%;
  max-width: 100%;
  padding-left: 17%;
  padding-right: 17%;
  background-color: #3a5841;
  width: 100%;
}
.header{
  color:white;
  font-family: 'works-sans', sans-serif;
  font-size: 50px;
}
.menu{
  background:#00000099;
}
#home-background img{
  width: 50%;
  max-width: 50%;
  height:auto;
}


footer{
  margin-top: -10%;
font-size:150%;
color:white;
background-color: #3a5841;
position: relative;
display: flex;
}
.menu{
  background:#00000099;
}
#missionHeader{
  color:black;
  font-family: 'works-sans', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}
#copy{
  font-size: 1.5vw;
  text-align: center;
  font-family: 'works-sans', sans-serif;
  position:absolute;
  bottom: 44px;
  left:20%;
  right:20%;
}
#link{
  font-size: 1.5vw;
  color: white;
  font-family: 'works-sans', sans-serif;
  position:absolute;
  bottom: 10px;
  left:20%;
  right:20%;
  text-align: center;
}
#footer_tree{
  width:100%;
  height:auto;
}

main p{
font-family: 'Work Sans',sans-serif;
font-weight: 600;
color:white;
font-style: normal;
font-size: 205;
-webkit-border-radius: 8px;
-moz-border-radius:8px;
border-radius: 8px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 20px;
padding-right: 20px;
text-align: center;
}

.pp{
font-family: 'Work Sans',sans-serif;
font-weight: 600;
color:white;
font-style: normal;
font-size: 22px;
-webkit-border-radius: 8px;
-moz-border-radius:8px;
border-radius: 8px;
text-align: left;
}
.welcomText{
  text-align: center;
  font-family: 'works-sans', sans-serif;
  text-align: center;
  position: absolute;
  font-size: 3vw;
  z-index: 1;
  text-align: center;
  width: 100%;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #E0E0E0;
  animation-duration: 1.5s;
  animation-name: up;
  opacity: 1;
}
@keyframes up {
  from {
      top:190px;
      opacity: 0;
  }

  to {
    top:140px;
      opacity: 1;
  }
}

.p{
font-family: 'Work Sans',sans-serif;
font-weight: 600;
color:white;
font-style: normal;
font-size: 22px;
-webkit-border-radius: 8px;
-moz-border-radius:8px;
border-radius: 8px;
text-align: center;
margin-left: 45px;
}

.bp{
  font-family: 'Work Sans',sans-serif;
  font-weight: 800;
  color:black;
  font-style: normal;
  font-size: 26px;
  -webkit-border-radius: 8px;
  -moz-border-radius:8px;
  border-radius: 8px;
  text-align: center;
}


footer{
  width:100%;
}

/*text wrapping images*/


.btn{
  font-family: 'Work Sans',sans-serif;
    font-weight: 600;
  background-color: #e1e1e1;
  color:#719293;
  border-radius: 6px;
  margin-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 6px;
}

.btn2{
  color:black;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 17px;
}

#resourcesCard{
  margin-bottom: -5%;
}

.btn, .btn2 {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
.btn:hover, .btn2:hover {
    color: #001F3F;
    background-color: #fff;
    cursor: pointer;
}

.button_text2{
  font-size: 24px;
}

.zoom1{

}

.zoom2{

}
.black{

}
#mobileNature{
  display: none;
  width: 100%;
  height: auto;
}
.zoom1{max-width: 100%; overflow: hidden;}
.zoom2{max-width: 100%; overflow: hidden;}
@media(max-width:1400px){
  #bg{
    display: none;
  }
  #overlay{
    display: none;
  }
  #plants{
    display: none;
  }
  #flowers{
    display: none;
  }
  #mobileNature{
    display:inline;
  }
}
