body{
  background-color: #CDAE7F;
}
.floatRight{
  margin-right: 5%
}
.bannerText{
  color: #21262A;
}
footer{
background-color: #CDAE7F;
}

#copy{
  font-size: 1.5vw;
  text-align: center;
  font-family: 'works-sans', sans-serif;
  position:absolute;
  bottom: 44px;
  left:20%;
  right:20%;
}
#link{
  font-size: 1.5vw;
  color: white;
  font-family: 'works-sans', sans-serif;
  position:absolute;
  bottom: 10px;
  left:20%;
  right:20%;
  text-align: center;
}
#footer_tree{
  width:100%;
  height:auto;
}
