#landScape{
  align-items: center;
  margin-top: -10%;
  overflow: hidden;
  overflow-x: hidden;
  width: 100%;
  hieght: auto;
  margin-bottom: -30%;
  /*background-image: url("../imgs/home1.JPG");
  background-size:100%;*/
}
#overlay{
  z-index: 10px;
  margin-top:-70%;
  width:100%;
  height: auto;
}

#plants{
  z-index: 3px;
  margin-top: -100%;
  width:100%;
  height: auto;
}
#flowers{
  z-index: 1000000000px;
  width:100%;
  height: auto;
  margin-top: -65%;
}
#bg{
  z-index: 1px;
  margin-top:0;
  width:100%;
  height: auto;
}
#plants{
  width:100%;
  height: auto;
}
#plants{
  width:100%;
  height: auto;
}
#flowers{
  width: 100%;
  margin-top: -100%;
  z-index: 900000000;
}
